        #bot button#vk, #bot button#fb, #bot button#tw, #bot button#inst {
            width: 40px;
            height: 40px;
            padding: 0;
            border: transparent;
            background: url("img/reps.jpg");
        }
        #bot button#fb{
            background-position: -55px 0;
        }
        #bot button#tw{
            background-position: -105px 0;
        }
        #bot button#inst{
            background-position: -155px 0;
        }
        .wrap h1 {
            width: 100%;
            font-size: 54px;
            font-family: Tahoma;
            font-weight: 700;
            padding: 50px 0;
            text-align: center;
        }
        #costs {
            background: #ff4e2e;
            margin: -25px 0;
        }
        article{
            text-align: center;
        }
        .list-of-smth {
            display: flex;
            max-width: 1260px;
            justify-content: space-between;
            margin: 0 auto;
        }
        .list-of-smth .item{
            color: #8993ad;
            font-family: Tahoma;
            font-size: 20px;
            text-align: center;
        }
        #bot .item{
            text-align: left;
        }
        #cervices .list-of-smth .item {
            width: 25%;
        }
        #portfolio .list-of-smth .item {
            width: 33%;
        }
        #cervices .list-of-smth .item .icon{
            height: 90px;
            background: url("img/ic.jpg");
            width: 85px;
            margin: 0 auto;
        }
        #portfolio .list-of-smth .item .icon{
            height: 290px;
            background: url("img/sites.jpg") no-repeat;
            background-position-x: center;
            width: 100%;
        }
        #portfolio .list-of-smth .item:nth-child(2) .icon{
            background-position-y: -290px;
        }
        #portfolio .list-of-smth .item:nth-child(3) .icon{
            background-position-y: -580px;
        }
        #cervices .list-of-smth .item:nth-child(2) .icon{
            background-position-y: 90px;
        }
        #cervices .list-of-smth .item:nth-child(3) .icon{
            background-position-y: 190px;
        }
        #cervices .list-of-smth .item:nth-child(4) .icon{
            background-position-y: 284px;
        }
        #bot a {
            font-family: Tahoma;
            font-size: 18px;
            text-decoration: none;
            color: #8993ad;
        }
        #costs p {
            width: 70%;
            font-size: 18px;
            font-family: Tahoma;
            text-align: justify;
            color: white;
            padding-bottom: 40px;
        }
        #costs h1 {
            width: 100%;
            font-size: 45px;
            font-family: Tahoma;
            font-weight: 700;
            text-align: justify;
            color: white;
            padding-bottom: 0;
        }
        header{
            width: 100%;
            position: fixed;
            top: 0px;
            height: 100px;
            background: #FBFBFB;
        }
        #bot .item:nth-child(2) {
            font-size: 25px;
            color: black;
        }
        footer{
            background: #31293c;
            padding: 25px 0 30px;
            text-align: center;
        }
        #copyright{
            color: white;
            font-family: Tahoma;
            font-size: 16px;
        }
        #top-fixed-width, .wrap{
            max-width: 1260px;
            justify-content: space-between;
            margin: 0 auto;
        }
        #top-fixed-width{
            display: flex;
            height: 100%;
        }
        #info{
            width: 100%;
            top: 0px;
            padding: 100px 0 0;
            height: 668px;
            background: #FBFBFB;
            margin: 0;
        }
        #portfolio{
            background: #FBFBFB;
            margin: 0;
        }
        #info-text-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1260px;
            margin: 0 auto;
        }
        html, body{
            margin: 0;
            padding: 0;
        }
        #contacts, nav {
            display: flex;
            align-items: center;
        }
        #contacts *{
            margin-right: 30px;
        }
        #name{
            font-family: 'Roboto', sans-serif;
            font-size: 78px;
            font-weight: 700;
        }
        #prof{
            font-family: Tahoma;
            font-size: 25px;
            color: #8993ad;
        }
        #photo{
            background: url("img/photo.jpg") bottom right no-repeat;
            background-size: contain;
            width: 552px;
            height: 668px;
        }
        .icon_s {
            width: 27px;
            height: 23px;
            display: inline-block;
            background: url("img/cont.jpg");
        }
        .icon_s.mail {
            background-position: 0 30px;
        }
        nav a{
            margin-left: 20px;
            color: black;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
        }
        nav a:hover{
            color: #f63b54;
            text-decoration: underline;
        }
        #contacts button, #bot button {
            background: transparent;
            border: 1px solid #f63b54;
            color: #f63b54;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
        }
        #contacts button {
            padding: 12px 40px;
        }
        #bot button {
            padding: 15px 50px;
        }
        #bot {
            padding: 50px 0;
        }
        #cervices button, #portfolio button {
            margin: 80px auto;
        }
        #info-text button, #cervices button, #portfolio button {
            background: #ff4e2e;
            padding: 15px 50px;
            border: transparent;
            color: #ffffff;
            font-family: Tahoma;
            font-size: 18px;
            cursor: pointer;
        }
        #phone {
            font-weight: 700;
            font-size: 25px;
            font-family: 'Roboto', sans-serif;
        }